<div class="container-fluid">
  <div class="row" style="padding-bottom: 5px;">
    <div class="col-md-4 col-md-offset-8 col-xs-12">
      <div class="row">
        <search-component></search-component>
        <edit-ponto></edit-ponto>
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">  
        <table class="table table-bordered table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Entrada</th>
              <th>Saida</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let ponto of pontos">
              <td class="text-right">{{ponto.id}}</td>
              <td>{{ponto.funcionario.nome}}</td>
              <td>{{ponto.entrada}}</td>
              <td>{{ponto.saida}}</td>
              <td>
                <button class="btn btn-danger" (click)="deletar(ponto.id)"><i class="fa fa-trash"></i></button>
                <button class="btn btn-warning" (click)="editar(ponto.id)" data-toggle="modal" data-target="#editPonto"><i class="fa fa-edit"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>